.idea/_name
.idea/encodings.xml
.idea/misc.xml
.idea/modules.xml
.idea/saskatoon-seals.iml
.idea/vcs.xml
.idea/workspace.xml
.idea/inspectionProfiles/profiles_settings.xml
.idea/inspectionProfiles/Project_Default.xml
.idea/libraries/Google_App_Engine_SDK.xml
.idea/scopes/scope_settings.xml
data/__init__.py
data/datastore.db
data/logs.db
data/search_indexes
data/xsrf
src/main.pyc
src/routes.pyc
src/app/__init__.pyc
src/app/handlers/__init__.pyc
src/app/handlers/calendar.pyc
src/app/handlers/contact.pyc
src/app/handlers/gallery.pyc
src/app/handlers/index.pyc
src/app/handlers/team.pyc
src/app/handlers/u-football.pyc
src/app/handlers/u-hockey.pyc
src/app/models/__init__.pyc
src/app/models/player.pyc
src/app/static/css/vstyles.css
src/app/static/css/vstyles_BACKUP.css
src/app/static/images/u-hockey/_DS_Store
src/app/static/javascript/Team.js
src/app/static/javascript/Team_backup.js
