{% extends "base.html" %}
{% set active_page = active_page|default('contact') %}
{% block content %}

<section class="break">
    <div class="container">
        <h1>Do you have a question for us?</h1>
        <!-- Do not change the code! -->
        <a id="foxyform_embed_link_674736" href="http://www.foxyform.com/">foxyform</a>
        <script type="text/javascript">
        (function(d, t){
           var g = d.createElement(t),
               s = d.getElementsByTagName(t)[0];
           g.src = "http://www.foxyform.com/js.php?id=674736&sec_hash=de2c3a5c1ef&width=350px";
           s.parentNode.insertBefore(g, s);
        }(document, "script"));
        </script>
        <!-- Do not change the code! -->
    </div>
</section>
{% endblock %}