{% extends "base.html" %}
{% set active_page = active_page|default('team') %}

{% block content %}

    <section class="break">
        <div class="container" id="our-team">
            <div class="row">
                <div class="col-half">
                    <h1>Saskatoon Seals</h1>
                    <p class="subhead">We are underwater hockey players, we come in peace.</p>
                    <p>
                        We are a crazy team of underwater football and hockey players. They say we are a recreational club,
                        however we have two experienced coaches training us. We train hard in the pool and play fun after that -
                        all of us are friends who hang out a lot also when not in the pool. We are from six different continents
                        of the world and everyone brings a special spice to our great team. Welcome joining us!
                    </p>
                </div>
                <div class="col-half space-top">
                    <img src="/static/images/team-photo-1.JPG" alt="Ales Ursic">
                </div>
            </div>
        </div>
    </section>

    <div class="container" id="our-team">
        <ul class="nav-pills hidden-xs">
            <li class="active"><a href="" data-filter="all">everyone</a></li>
            <li><a href="" data-filter="bop">coaches</a></li>
            <li><a href="" data-filter="des">players</a></li>
             <li><a href="" data-filter="des">whole team</a></li>
        </ul>

        <ul id="team">
            <li class="mix all dev"><img src="/static/images/joe-moroch.JPG" alt="Joe Moroch">
                <p><strong>Joe Moroch</strong></p>
                <p><strong>Position of play:</strong> defense</p>
                <p>
                    Jo 2 has played ice hockey in Poland, Underwater Football in Winnipeg and
                    UW Hockey in Saskatoon. He is eagerly anticipating his first UW Hockey tournament (of sorts) in Calgary.
                </p>
            </li>

            <li class="mix all ful"><img src="/static/images/jacques-toupin.JPG" alt="Jacques Toupin">
                <p><strong>Jacques Toupin</strong></p>
                <p><strong>Position of play:</strong> defense</p>
                <p>
                    Entraineur and organizer, I do it because I need a team to play with. I've played
                    all positions and in many places in this country, though never outside. I've lived in Calgary, Yellowknife,
                    Edmonton and Saskatoon and in my own head. Often accused of being too easy on the newbies, no one has really
                    seen the Dark Side of the the UW Sports training guy....
                </p>
            </li>

            <li class="mix all ful"><img src="/static/images/kellan-o'kane.JPG" alt="Kellan O'Kane">
                <p><strong>Kellan O'Kane</strong></p>
                <p><strong>Position of play:</strong> defense</p>
                <p>
                    Kellan and his little sister Jenay used to be dragged out to the pool when
                    their dad, Mick, came to play UWH with Gerald & Ryan. Eventually it dawned on everyone that there were two
                    additional players in the pool who might enjoy playing hockey more than horsing around in the shallow end.
                    The rest, as they say, is history....
                </p>
            </li>

            <li class="mix all ful"><img src="/static/images/vikram-baskaran.JPG" alt="Vikram Baskaran">
                <p><strong>Vikram Baskaran</strong></p>
                <p><strong>Position of play:</strong> center forward</p>
                <p>
                    Realizing she'd never get any peace if someone didn't come out to check out
                    UW hockey, Abi, Vik's wife (a.k.a. "The Boss") sent Vik out to try. Fortunately, he enjoyed it so much
                    he dragged all his friends and co-workers to try too and we've managed to keep the best of them!
                </p>
            </li>

            <li class="mix all ful"><img src="/static/images/joanne-buan.JPG" alt="Joanne Buan">
                <p><strong>Joanne Buan</strong></p>
                <p><strong>Position of play:</strong> center forward</p>
                <p>
                    Like Lynn, UWH is Jo 1's avowed sport of her dreams.Like Jo 2, she is eagerly
                    anticipating (and organizing) her first away tournament in Calgary. It should be interesting to see her
                    Zuming around in Cowtown!
                </p>
            </li>

            <li class="mix all ful"><img src="/static/images/ales-ursic.JPG" alt="Ales Ursic">
                <p><strong>Aleš Uršič</strong></p>
                <p><strong>Position of play:</strong> center forward</p>
                <p>
                    I'm coming from Slovenia and have moved to one of the coldest cities on Earth
                    on 1st of Oct 2014. I've been doing sports all of my life, they span from table tennis, tennis, badminton
                    to kickboxing and volleyball. But just when I thought I knew everything about sports I stumbled upon this
                    crazy sport called U-hockey. I play center forward and because I like sprinting and the wild action in
                    front of the goal..
                </p>
            </li>

            <li class="mix all ful"><img src="/static/images/jeanny-buan.JPG" alt="Jeanny Buan">
                <p><strong>Jeanny Buan</strong></p>
                <p><strong>Position of play:</strong> right wing</p>
                <p>
                    Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium
                    doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto
                    beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut
                    fugit, sed quia consequuntur.
                </p>
            </li>

            <li class="mix all ful"><img src="/static/images/mj.JPG" alt="MJ">
                <p><strong>MJ</strong></p>
                <p><strong>Position of play:</strong> defense</p>
                <p>
                    Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium
                    doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto
                    beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut
                    fugit, sed quia consequuntur.
                </p>
            </li>

            <li class="mix all ful"><img src="/static/images/maja-primozic.JPG" alt="MJ">
                <p><strong>Maja Primožič</strong></p>
                <p><strong>Position of play:</strong> left wing</p>
                <p>
                    Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium
                    doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto
                    beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut
                    fugit, sed quia consequuntur.
                </p>
            </li>

            <li class="mix all ful"><img src="/static/images/tri-pham.JPG" alt="MJ">
                <p><strong>Tri Pham</strong></p>
                <p><strong>Position of play:</strong> defense</p>
                <p>
                    Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium
                    doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto
                    beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut
                    fugit, sed quia consequuntur.
                </p>
            </li>
        </ul>
    </div>

    <div class="container wide">
        <div class="team-photo">
            <img src="/static/images/team-photo-2.jpg"/>
        </div>
    </div>
{% endblock %}